.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 15rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(89, 0, 255);

    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.567);
  
}

.cardTitulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 15px;

}

.card a {
    text-decoration: none;
    text-align: center;

}

.card>a>div {
    font-size: 12px;
    line-height: 3vh;

}

.card:hover {
    cursor: pointer;
    color: white;

    background-color: rgb(38, 38, 38);
    transition: 0.3s;

}
.imagem{
    flex-direction:column;
    border-radius: 5px;
    height: 7rem;
}