.card {
    display: flex;
    width: 15rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(89, 0, 255);

    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.567);
  
}

.cardTitulo {
    display: flex;
    text-align: center;
    font-size: 15px;

}

.card a {
    text-decoration: none;
    text-align: center;

}

.card>a>div {
    color: #000000;
    font-size: 12px;
    line-height: 3vh;

}

.card:hover {
    cursor: pointer;
    background-color: rgba(195, 161, 249, 0.411);
    transition: 0.3s;

}
.imagem{
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 7rem;
}