.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    color: #5f33e3;
    text-align: center;

    font-size: 3rem;
    margin-top: 10px;
  }
  
  .title span {
    color: rgb(0, 0, 0);
    
  }
  