.imagem{

    background-image: url('/1325725 (1).png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.cont{
    display: flex;
}
.texto{
   
    border-radius: 1rem;    border: 5px solid rgb(0, 0, 0);
    margin-top: 20vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    line-height: 4.5vh;
    font-size: 20px;
}