
.cabecalho {
    display: flex;
    background-color: rgb(0, 247, 255);
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(203, 203, 203);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.titulo{
    display: flex;
    font-size: 4vh;
}
.git:hover{
    background-color: rgb(183, 242, 246);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    transition: all 0.4s ease;
}
