.botao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nomeBtn {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}