
.footer {
    width: 100%;
    color: white;
}

.footerContent {
    background-color: rgba(95, 95, 95, 0.603);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 3.5rem;
    min-width: 35rem;
}

.footerContent h1 {
    margin-bottom: 0.75rem;
}

.footerSocialMedia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

.footerSocialMedia .footerLink1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;


}

.footerLink1 {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    text-decoration: none;
}

.footerSocialMedia .footerLink2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;


}

.footerLink2 {
    background-color: #3267b3;
    text-decoration: none;

}

.footerSocialMedia .footerLink3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    transition: all 0.4s;

}

.footerLink3 {
    background-color: rgb(182, 1, 1);
    text-decoration: none;
}

.footerSocialMedia .footerLink1:hover {
    color: rgb(44, 44, 44);
    opacity: 0.8;
}

.footerSocialMedia .footerLink2:hover {
    opacity: 0.8;
}

.footerSocialMedia .footerLink3:hover {
    color: rgb(44, 44, 44);
    opacity: 0.8;
}

.footerSocialMedia .footerLink1 {
    font-size: 1.25rem;

}

.footerSocialMedia .footerLink2 {
    font-size: 1.25rem;


}

.footerSocialMedia .footerLink3 {
    font-size: 1.25rem;


}


.footerList {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;

}

.footerCopyrigth {
    display: flex;
    margin-bottom: auto;
    gap: 0.25rem;
    padding: 0.25rem;
    justify-content: center;
    background-color: rgb(80, 80, 80);
    font-weight: 200;
    min-width: 35rem;

}
.copy{

    margin-top: -5px;
}

@media screen and (max-width: 768px) {
    .footerContent{
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 426px) {
    .footerContent{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}