

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 80vh;
    min-height: 80vh;
    border-radius: 1rem;
    margin:  auto;
    border: 1px solid blueviolet;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.567);

}
.cardTitulo {
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}
.card>div {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    line-height: 3.5vh;

}

.card:hover {
    cursor: pointer;
    background-color: rgb(38, 38, 38);
    transition: 0.8s;
    color: #ffffff;

}
.img{
    display: flex;
    border: 1px solid rgba(52, 52, 52, 0.311);
    border-radius: 1rem 1rem 0rem 0rem;
    background-size: cover;
    max-width: 890px;
    max-height: 390px;
}
@media screen and (max-width: 768px) {
    .card{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .card{
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem 1rem;
    }
}