

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 70%;
    margin: 2rem auto;
    border-radius: 1rem;
    border: 1px solid rgb(89, 0, 255);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.567);
    min-width: 35rem;

  
}
.cardTitulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.card>div {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
    line-height: 3vh;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(38, 38, 38);
    color: #ffffff;

}
.img{
    display: flex;
    border: 1px solid rgba(52, 52, 52, 0.311);
    border-radius: 1rem 1rem 0rem 0rem;
    background-size: cover;
    height: 60vh;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .footerContent{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    .footerContent{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}