.nomeBtn {
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: aqua;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}