.container{
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1rem;
}

.box{
    display: flex;
    border: 1px solid rgb(143, 12, 200);
    color: rgb(0, 0, 0);
    height:10rem;
    width: 35rem;
    background-color: rgb(255, 255, 255);
    max-width: 45rem;
    flex-direction: column;
    resize: none;
}
@media screen and (max-width: 768px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .container{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}