

.label{
    display: flex;
    height: 60vh;
    row-gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
.data{
    display: inline-flex;
    row-gap: 10px;
    padding-top: 20px;
}
.file{
    display: inline-flex;
    row-gap: 10px;
    padding-top: 20px;
}
@media screen and (max-width: 768px) {
    .label{
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 436px) {
    .label{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
