
.label{
    display: flex;
    align-items: center;
    min-height: 70vh;
    font-size: 15px;
    flex-direction: column;
    justify-content: space-between;
    width: 70vh;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}
.data{
    display: inline-table;
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .label{
        grid-template-columns: repeat(4, 1fr);
        gap: 5rem;
    }
}

@media screen and (max-width: 436px) {
    .label{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
